/* Container principal */
.ajouter-container {
  width: 420px;
  
  padding: 26px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 4px 16px rgba(180, 157, 157, 0.9);
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: Arial, Helvetica, sans-serif;
  transform: scale(0.9);
  position: fixed;
  top: 20px;
  bottom: 80px;
  left: 380px;
  z-index: 999;
  height: 90vh;   
}

.overlay{
  background-color: rgba(0, 0, 0, 0.532);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

/* Labels */
.ajouter-label {
  font-weight: 600;
  color: #333;
}

/* Inputs et Selects */
.ajouter-input,
.ajouter-select {
  padding: 10px 12px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease;
}

.ajouter-input:focus,
.ajouter-select:focus {
  border-color: #4caf50;
}

/* Bouton Ajouter */
.btn-ajouter {
  margin-top: 12px;
  padding: 12px;
  background: #2ecc71;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.2s ease;
}

.btn-ajouter:hover {
  background: #27ae60;
}


.ajouter-container p {
    height: 0px;
    color: red;
    margin-top: -8px;
    font-size: 12px;
    margin-left: 4px;
}

.ajouter-textarea {
  width: 95%;        /* prend toute la largeur du container */
  min-height: 100px;  /* hauteur minimum */
  padding: 10px;      /* espace à l’intérieur */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;   /* permet d’agrandir verticalement */
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.ajouter-textarea:focus {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}
