.AllColumns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;


}
.Column{
    background-color: white;
    width: 260px;
    padding: 10px 50px;
    border-radius: 14px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.717);
    border: 1 solid;
}

.toDo,
.Progress,
.Done {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toDo p,
.Progress p,
.Done p{
    font-size: 30px;
    
}
.siperate{
    width: 95%;
    height: 2px;
    background-color: #dcdcdc;
    margin: 0 auto;
} 
.cards{
    line-height: 45px;
}

.loading {
  border: 6px solid #f3f3f3; 
  border-top: 6px solid #3498db; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20% auto; 

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
