.AllColumns{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 35px;
    gap: 86px;

}
.Column{
    background-color: rgb(249, 249, 243);
    width: 300px;
    padding: 10px 30px;
    border-radius: 14px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.500);
    border: 1 solid;
    max-height: 77vh;
    
}

.ColumnHeader {
    padding: 10px 20px;
    background: white;
    position: sticky;
    top: -11px;
    z-index: 10;
}
.cards{
    max-height: 55vh;
    overflow-y: auto;

    
}


.toDo,
.Progress,
.Done {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.toDo p,
.Progress p,
.Done p{
    font-size: 20px;
    font-weight: 300;

    
}

.siperate{
    width: 100%;
    height: 2px;
    background-color: #dcdcdc;
    margin: 0 auto;
} 
.cards{
    line-height: 45px;
}

.loading {
  border: 6px solid #f3f3f3; 
  border-top: 6px solid #3498db; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20% auto; 

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
