
.Card{
    background-color: rgb(255, 255, 255); 
    padding: 20px 18px;
    padding-right: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: normal;
    position: relative;
}
.Card:hover{
    background-color: #dcdcdcd9;
    opacity:0.9 ;
}


.high{
    border-left: 4px solid red;
}
.low{
    border-left: 4px solid green;
}
.medium{
    border-left: 4px solid rgb(236, 111, 8);
}

.DoneCard{
    text-decoration: 2px line-through ;
}
.Card span{
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 15px;
    font-weight: 700;
}
.highPriority,
.mediumPriority,
.lowPriority{
    color: red;
    background-color:beige;
    padding: 5px 10px;
    border-radius: 14px;
}
.mediumPriority{
    color: rgb(255, 115, 0);

}
.lowPriority{
    color: green;

}