
.Card{
    background-color: #dcdcdc; 
    padding: 20px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: normal;
    
}
.Card:hover{
    background-color: #dcdcdcd9;
    opacity:0.9 ;
}


.high{
    border-left: 4px solid red;
}
.low{
    border-left: 4px solid green;
}
.medium{
    border-left: 4px solid rgb(236, 111, 8);
}

.DoneCard{
    text-decoration: 2px line-through ;
}