
.Card{
    background-color: rgb(255, 255, 255); 
    padding: 20px 18px;
    padding-right: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: normal;
    position: relative;
}
.Card:hover{
    background-color: #dcdcdcd9;
    opacity:0.9 ;
}


.high{
    border-left: 4px solid rgb(234, 0, 0);
}
.low{
    border-left: 4px solid green;
}
.medium{
    border-left: 4px solid rgb(236, 111, 8);
}

.DoneCard{
    text-decoration: 2px line-through ;
}
.Card span{
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 15px;
    font-weight: 700;
}
.highPriority{
    color: rgb(240, 0, 0);
    background-color: rgba(252, 219, 249, 0.5);
    padding: 5px 10px;
    border-radius: 14px;
}
.mediumPriority{
    background-color:rgba(249, 232, 216, 0.589);
    padding: 5px 10px;
    border-radius: 14px;
     color: rgb(255, 115, 0);
}
.lowPriority{
    background-color:rgb(227, 251, 225);
    padding: 5px 10px;
    border-radius: 14px;
    color: green;
}

