.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 999;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

/* LOGO AT LEFT */
.logo {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 90px;
}

/* CENTERED LINKS */
.div-link {
    position: absolute;     
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 25px;
    align-items: center;
   
}

/* LINKS STYLE */
.home-link,
.trash-link {
    padding: 6px 14px;
    border-radius: 8px;
    transition: 0.3s ease; 
}

.to-home,
.to-corb {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

.home-link:hover,
.trash-link:hover {
    background: rgba(255, 255, 255, 0.25);
}

.home-link:hover .to-home,
.trash-link:hover .to-corb {
    color: black;
}

/* .avatar {
 margin-top: 10px;
} */

.avatar{
  position: fixed;
  top: 11px;
  right: 60px;
  z-index: 999;
  
}

.bnj{
  position: absolute;
  top: 21px;
  right: 130px;
  color: #e6fff0;
  z-index: 999;
  margin-left:10%;
}